.service-wrapper {
  display: contents;
}
 
.service-service {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  border-bottom-width: 1px;
}
 
.service-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
 

 

 

 

 

 

 
@media(max-width: 991px) {
  .service-service {
    gap: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .service-title {
    font-size: 18px;
    line-height: 16px;
  }
  .serviceroot-class-name {
    max-width: 100%;
  }
  .serviceroot-class-name1 {
    max-width: 100%;
  }
  .serviceroot-class-name2 {
    max-width: 100%;
  }
  .serviceroot-class-name3 {
    max-width: 100%;
  }
  .serviceroot-class-name4 {
    max-width: 100%;
  }
  .serviceroot-class-name5 {
    max-width: 100%;
  }
}

.service-wrapper-ptct {
  display: contents;
}
 
.service-service1 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  border-bottom-width: 1px;
}
 
.service-title1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
 

 

 

 

 

 

 
@media(max-width: 991px) {
  .service-service1 {
    gap: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .service-title1 {
    font-size: 18px;
    line-height: 16px;
  }
  .serviceroot-class-name {
    max-width: 100%;
  }
  .serviceroot-class-name1 {
    max-width: 100%;
  }
  .serviceroot-class-name2 {
    max-width: 100%;
  }
  .serviceroot-class-name3 {
    max-width: 100%;
  }
  .serviceroot-class-name4 {
    max-width: 100%;
  }
  .serviceroot-class-name5 {
    max-width: 100%;
  }
}

.service-wrapper-hdf5 {
  display: contents;
}
 
.service-service2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  border-bottom-width: 1px;
}
 
.service-title2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
 

 

 

 

 

 

 
@media(max-width: 991px) {
  .service-service2 {
    gap: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .service-title2 {
    font-size: 18px;
    line-height: 16px;
  }
  .serviceroot-class-name {
    max-width: 100%;
  }
  .serviceroot-class-name1 {
    max-width: 100%;
  }
  .serviceroot-class-name2 {
    max-width: 100%;
  }
  .serviceroot-class-name3 {
    max-width: 100%;
  }
  .serviceroot-class-name4 {
    max-width: 100%;
  }
  .serviceroot-class-name5 {
    max-width: 100%;
  }
}

.service-wrapper-gru1 {
  display: contents;
}
 
.service-service3 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  border-bottom-width: 1px;
}
 
.service-title3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
 

 

 

 

 

 

 
@media(max-width: 991px) {
  .service-service3 {
    gap: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .service-title3 {
    font-size: 18px;
    line-height: 16px;
  }
  .serviceroot-class-name {
    max-width: 100%;
  }
  .serviceroot-class-name1 {
    max-width: 100%;
  }
  .serviceroot-class-name2 {
    max-width: 100%;
  }
  .serviceroot-class-name3 {
    max-width: 100%;
  }
  .serviceroot-class-name4 {
    max-width: 100%;
  }
  .serviceroot-class-name5 {
    max-width: 100%;
  }
}

.service-wrapper-0nax {
  display: contents;
}
 
.service-service4 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  border-bottom-width: 1px;
}
 
.service-title4 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
 

 

 

 

 

 

 
@media(max-width: 991px) {
  .service-service4 {
    gap: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .service-title4 {
    font-size: 18px;
    line-height: 16px;
  }
  .serviceroot-class-name {
    max-width: 100%;
  }
  .serviceroot-class-name1 {
    max-width: 100%;
  }
  .serviceroot-class-name2 {
    max-width: 100%;
  }
  .serviceroot-class-name3 {
    max-width: 100%;
  }
  .serviceroot-class-name4 {
    max-width: 100%;
  }
  .serviceroot-class-name5 {
    max-width: 100%;
  }
}

.service-wrapper-2a1k {
  display: contents;
}
 
.service-service5 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fourunits);
  border-bottom-width: 1px;
}
 
.service-title5 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
 

 

 

 

 

 

 
@media(max-width: 991px) {
  .service-service5 {
    gap: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .service-title5 {
    font-size: 18px;
    line-height: 16px;
  }
  .serviceroot-class-name {
    max-width: 100%;
  }
  .serviceroot-class-name1 {
    max-width: 100%;
  }
  .serviceroot-class-name2 {
    max-width: 100%;
  }
  .serviceroot-class-name3 {
    max-width: 100%;
  }
  .serviceroot-class-name4 {
    max-width: 100%;
  }
  .serviceroot-class-name5 {
    max-width: 100%;
  }
}

.contact4-wrapper {
  display: contents;
}
 
.contact4-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact4-max-width {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact4-section-title {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-content1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-row {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact4-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact4-content3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-text12 {
  align-self: flex-start;
  text-align: center;
}
 
.contact4-email {
  align-self: flex-start;
  text-align: center;
}
 
.contact4-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-icon3 {
  align-self: flex-start;
}
 
.contact4-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact4-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-text13 {
  align-self: stretch;
  text-align: left;
}
 
.contact4-phone {
  align-self: flex-start;
  text-align: center;
}
 
.contact4-content6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact4-icon5 {
  align-self: flex-start;
}
 
.contact4-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact4-content7 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact4-text14 {
  align-self: flex-start;
  text-align: left;
}
 
.contact4-text15 {
  text-align: left;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact4-row {
    flex-direction: column;
  }
}

.footer3-wrapper {
  display: contents;
}
 
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer3-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer3-logo {
  gap: 24px;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer3-links {
  gap: var(--dl-layout-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.footer3-social-links {
  gap: var(--dl-layout-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
 
.footer3-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer3-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-content3 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
}
 
.footer3root-class-name {
  background-color: var(--dl-color-gray-black);
}
 
@media(max-width: 991px) {
  .footer3-logo {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .footer3-content {
    flex-direction: column;
  }
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer3-content {
    width: 100%;
  }
  .footer3-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-header1 {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
 
.home-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.home-branding1 {
  gap: var(--dl-layout-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-logo1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.3s;
}
 
.home-logo1:hover {
  transform: rotate(360deg);
}
 
.home-company1 {
  color: rgb(255, 255, 255);
}
 
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
 
.home-button1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
 
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
 
.home-text10 {
  color: #ffffff;
  display: flex;
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
 
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-branding2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-logo2 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
 
.home-company2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
 
.home-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon1 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
 
.home-items {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-links {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text15 {
  color: #ffffff;
}
 
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
 
.home-header2 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  flex-direction: column;
  padding-bottom: 150px;
}
 
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-link {
  display: contents;
}
 
.home-title1 {
  color: rgb(255, 255, 255);
  width: var(--dl-layout-size-maxwidth);
  height: 255px;
  font-size: 128px;
  max-width: 895px;
  align-self: center;
  text-align: left;
  font-weight: normal;
  line-height: 115px;
  text-transform: uppercase;
  text-decoration: none;
}
 
.home-description {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  text-align: left;
  line-height: 36px;
}
 
.home-video1 {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-video2 {
  flex: 1;
  width: 100%;
}
 
.home-services {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
}
 
.home-text16 {
  color: var(--dl-color-gray-black);
  font-size: 80px;
  text-transform: uppercase;
}
 
.home-text17 {
  font-size: 25px;
}
 
.home-header3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  border-bottom-width: 1px;
}
 
.home-grid {
  flex: 1;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-footer {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
}
 
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-top: var(--dl-layout-space-unit);
  }
  .home-button1 {
    padding-top: var(--dl-layout-space-unit);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-image {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .home-text10 {
    display: none;
  }
  .home-button2 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text15 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-header2 {
    height: 100%;
    padding-bottom: var(--dl-layout-space-sixunits);
    justify-content: center;
  }
  .home-title1 {
    font-size: 40px;
    line-height: 36px;
  }
  .home-description {
    font-size: 16px;
    line-height: 24px;
  }
  .home-services {
    gap: var(--dl-layout-space-threeunits);
    padding-top: 0px;
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-header3 {
    padding-top: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
    border-top-width: 1px;
  }
  .home-grid {
    display: flex;
    grid-gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-footer {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-layout-space-oneandhalfunits);
  }
  .home-logo1 {
    width: 36px;
    height: 36px;
  }
  .home-company1 {
    font-size: 18px;
    line-height: 20px;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button1 {
    padding: 12px;
  }
  .home-image {
    width: 14px;
    height: 14px;
  }
  .home-header2 {
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
}
 
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
}
