<div>
  <link href="./banner.css" rel="stylesheet" />
  <div class="banner-banner">
    <div class="banner-container">
      <h2 class="banner-text">
        <span></span>
        <br />
        <span></span>
      </h2>
      <h1 class="banner-text04">
        <span>ABOUT US :</span>
        <br />
        <span>
          Hello there, my name is Raghav Sharma and I am a computer science
          engineer who has found my niche in the world of Cloud public
          relations, public speaking, and management. I am passionate about
          using my technical background to help organizations communicate their
          products and services effectively to the wider world.
        </span>
        <br />
        <br />
        <span>
          I completed my degree in computer science engineering from a
          prestigious university and realized early on that I had a talent for
          explaining complex technical concepts in simple terms. This led me to
          pursue my passion for public relations and public speaking. I
          understood the importance of being able to communicate technical ideas
          to non-technical audiences and honed my skills in this area.
        </span>
        <br />
        <br />
        <span>
          Over the years, I have worked with some of the biggest names in the
          industry and helped them to communicate their message to a wider
          audience. My technical expertise and communication skills have enabled
          me to become a sought-after expert in the field of Cloud public
          relations.
        </span>
        <br />
        <br />
        <span>
          I am also an accomplished public speaker and have delivered keynote
          speeches at various industry events. I take great pride in my ability
          to engage and captivate an audience, sharing my insights and knowledge
          with them.
        </span>
        <br />
        <br />
        <span>
          In addition to my public relations and public speaking work, I am also
          an expert in Cloud management. I have a deep understanding of the
          latest Cloud technologies and best practices, and I use this knowledge
          to help organizations optimize their Cloud infrastructure and achieve
          their business objectives.
        </span>
        <br />
        <br />
        <span>
          Overall, I am an innovator and leader in the field of Cloud public
          relations, public speaking, and management. My passion for technology
          and communication has driven my success, and I am committed to making
          a significant impact in the industry.
        </span>
      </h1>
    </div>
    <button class="banner-button button"><span>Learn More</span></button>
  </div>
</div>
