.custom-link-caption {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
 
.custom-link-icon1 {
  width: 24px;
}
 

 
@media(max-width: 991px) {
  .custom-link-caption {
    display: none;
  }
}
