.component-container {
  display: flex;
  position: relative;
}
.component-link {
  display: contents;
}
.component-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
